*.iml
.idea/

# Python byte code
*pyc

# Notebook stuff
notebooks/.ipynb_checkpoints

# Other
my_stuff.py
stub.py
other

__pycache__/
pnicer/__pycache__/
pnicer/tests/__pycache__/
pnicer/tests_resources/__pycache__/
